*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, system-ui, sans-serif;
}

/* body */
body{
  background-color: rgb(233, 229, 229);
}

/* header */
header{
  padding-left: 40px;
  line-height: 2;
  height: 140px;
  background-color: #fff;
}

.w-100{
  width: 100px;
}

.v-align-middle{
  vertical-align: middle;
  display: inline-block;
}

h1{
  font-size: 70px;
}
/* end header */

/* main */
  /* buttons */
main{
  width: 70%;
  margin: 80px auto;
  padding: 30px 100px;
  background-color: #fff;
  border-radius: 20px;
}

.inline-block{
  display: inline-block;
}

.button-size{
  width: 130px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  margin: 0px 3px;
  color: rgb(200, 200, 200);
  font-weight: 700;

}

#task-button{
  background-color: #5BACDA;
}

#section-button{
  background-color: #fff;
  border: 3px solid rgb(190, 190, 190);
}
  /* end buttons */

  /* list */
.list-style{
  list-style: none;
}

.main-list{
  margin-top: 60px;
  font-size: 40px;
  font-weight: 700;
}

.main-list-item{
  margin-top: 50px;
}

.sub-list-item{
  margin: 20px 0px;
}

.sub-list{
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 15px;
}

.symbol{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
}

.tick{
  color: green;
  border: 1px solid green;
}

.cross{
  color: red;
  border: 1px solid red;
}

.infobox{
  width: 100px;
  height: 40px;
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-top: 9px;
}

.infoblue{
  background-color: #3FABEC;
  border: 1px solid #3FABEC;
}

.infopurle{
  background-color: #9874D9;
  border: 1px solid #9874D9;
}

.infogreen{
  background-color: #6BBFAB;
  border: 1px solid #6BBFAB;
}

.infoyellow{
  background-color: #E9A13B;
  border: 1px solid #E9A13B;
}

.infopink{
  background-color: #D37AA0;
  border: 1px solid #D37AA0;
}

.infolime{
  background-color: #ACC722;
  border: 1px solid #ACC722;
}
  /* end list */
/*end main  */